.text-highlight {
    color: #ffc107; 
  }
  
  .name-highlight {
    color: #ffc107; 
  }
  
  .text-bold {
    font-size: 3rem; 
    font-weight: 800; 
  }
  
  #home-section {
    padding-top: 80px;
    text-align: center;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  
  #particles-footer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
  }
  
  footer {
    position: relative;
    z-index: 1; 
  }
  
  footer .container {
    position: relative;
    z-index: 2; 
  }
  

  #home-section {
    position: relative;
    overflow: hidden; 
    padding-top: 80px;
    text-align: center;
    min-height: 100vh;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .highlight {
    color: #fff; 
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.project {
  position: relative;
  overflow: hidden; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.text {
  z-index: 2; 
}
